.header {
  display: flex;
  background-color: transparent;
  background: none;
  position: fixed;
  width: 100vw;
  top: 0;
  margin: 15px;
  margin-top: 15px;
  z-index: 15;
}
.header-logo {
  height: 24px;
  width: 100px;
  margin-top: 7px;
  cursor: pointer;
}
.header-center {
  flex: 1;
  display: flex;
  justify-content: center;
  text-align: center;
}
.header-center p {
  margin: 10px;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 16px;
}
.header-right {
  display: flex;
  justify-content: flex-end;
  text-transform: uppercase;
  margin-right: 30px;
  margin-left: -30px;
}
.header-right > p {
  margin: 10px;
  cursor: pointer;
}
