a {
  color: #333333;
  text-decoration: none;
}
li {
  list-style: none;
}
.header {
  display: flex;
  background-color: transparent;
  background: none;
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 15;
  height: 60px;
  align-items: center;
}
.header-logo {
  height: 24px;
  width: 100px;
  margin-top: 7px;
  cursor: pointer;
  margin-left: 10px;
}
.header-center {
  flex: 1;
  display: flex;
  justify-content: center;
  text-align: center;
}
.header-center p {
  margin: 10px;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 16px;
  letter-spacing: 1px;
}
.header-right {
  display: flex;
  justify-content: flex-end;
  text-transform: uppercase;
  margin-right: 30px;
  margin-left: -70px;
  width: 250px;
  align-items: center;
}
.header-right > p {
  margin: 10px;
  cursor: pointer;
}
.burger {
  cursor: pointer;
  z-index: 10;
}
.burger > div {
  width: 20px;
  height: 2px;
  background-color: #333333;
  margin: 3px;
  margin-right: 7px;
  transition: all 0.3s ease;
}
.burger-sidebar {
  transform: translateX(100%);
  position: absolute;
  width: 330px;
  background: #fff;
  height: 100vh;
  top: -15px;
  right: 0;
  align-items: center;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  padding: 30px;
  transition: transform 0.2s ease-in;
  z-index: 9;
}
.open-burger {
  transform: translateX(0%);
}
.burger-links {
  margin-top: 30px;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.burger-sidebar li a {
  margin-top: 30px;
  font-size: 16px;
  color: #333333;
  margin-right: 60px;
}
.link-underline {
  width: 270px;
  height: 0.5px;
  background-color: #797979;
}
.animline .line1 {
  transform: rotate(-45deg) translate(-5px, 2px);
}
.animline .line2 {
  opacity: 0;
}
.animline .line3 {
  transform: rotate(45deg) translate(-5px, -2px);
}
.cover-noscroll {
  width: 100vw;
  height: 200vh;
  position: absolute;
  background: rgba(0, 0, 0, 0.2);
  z-index: 5;
  margin: -16px;
  display: none;
}
.white-header p {
  color: #fff;
}
.white-logo {
  filter: brightness(0) invert(1);
}
.shop-logo {
  display: flex;
  flex-direction: row;
  text-align: center;
  width: auto;
}
.dash-shop {
  font-size: 20px;
  margin: 0 0 0 10px;
}
.white-header:hover {
  background-color: #fff;
}
.white-header:hover > * p {
  color: #333333;
}
.white-header:hover > * .white-logo {
  filter: brightness(0) invert(0);
}
.scrolled-header {
  background-color: #fff;
}
.scrolled-linkkkk {
  color: #333;
}
#shop-link {
  padding-right: 10px;
}
#account-link {
  padding-right: 10px;
}
.login-header-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.language-country-container {
  display: flex;
  width: 100px;
  flex-direction: row;
}
.language-country-container:hover {
  cursor: pointer;
}
.still-header {
  position: relative;
  z-index: 4;
}
