.item {
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  scroll-snap-align: start;
  overflow-x: hidden;
}
.item-container {
  width: 40vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.item-text {
  margin-top: 20%;
  display: flex;
  flex-direction: column;
  font-size: 34px;
  color: #393c41;
  align-items: center;
  flex: 1;
}
.text-description {
  font-weight: 200;
  font-size: 14px;
}
.item-lowerThird {
  margin-bottom: 5%;
  display: flex;
  flex-direction: column;
}
.item-btns {
  display: flex;
}
.item-expand {
  color: #fff;
  width: 100%;
  margin-top: 3%;
  justify-content: center;
  display: flex;
  transform: scale(1.7);
}
